.row_posts {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 1.3rem;
  padding-top: 0.8rem;
}
.row_posts::-webkit-scrollbar {
  display: none;
}
.row_post {
  object-fit: contain;
  width: 100%;
  max-height: 6rem;
  margin-right: 0.8rem;
  transition: transform 450ms;
}

.row_post:hover {
  transform: scale(1.1);
}

.row_postLarge {
  max-height: 15rem;
}
